<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{language.language}}</h1>
    <ol>
        {% for country in countries %}
        {# TODO: Т.к. вы ясно злоупотребляете копи-пастом, то перекрещивание тегов перенеслось на все страницы #}
        <li><a href="{% url 'country' country.id %}">{{country.country}}</li></a>
        {% endfor %}
    </ol>
</body>
</html>